- if buttons
  = link_to t('.new_topic'), new_topic_path(forum_id: forum.id), class: 'btn in-breadcrumb' if can? :create, Topic.new(forum_id: forum.id)

  - if current_user
    = render 'follows/show', id: forum.follow_id, followable_id: forum.id, followable_type: 'Forum'

%ul.breadcrumb
  %li
    = link_to t('common.title'), root_path
    %span.divider /
  %li.active
    = link_to forum.name, forum_path(forum)
