- if current_user && buttons
  = render 'follows/show', id: topic.follow_id, followable_id: topic.id, followable_type: 'Topic'

%ul.breadcrumb
  %li
    = link_to t('common.title'), root_path
    %span.divider /
  %li
    = link_to topic.forum.name, forum_path(topic.forum)
    %span.divider /
  %li.active= link_to topic.name, topic_path(topic)
