- content_for :title, t('.title')

- @users.each do |user|
  .span2
    .widget
      = username user, nil, short: true
      = render 'shared/avatar', user: user, size: 40
      = render 'follows/show', id: user.follow_id, followable_id: user.id, followable_type: 'User'

.span12
  %hr
  = render 'messages/list'
