/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require markdown-toolbar
 *= require_tree .
 */

a { cursor: pointer; }
table.users td { vertical-align: middle; }
th.role, td.role { width: 90px; text-align: center !important; }
td.infos { width: 128px; }
td.user { width: 128px; text-align: center !important; }
th.number, td.number { text-align: center !important; }
p.updated { font-style: italic; font-size: 90% }
.icon img { width: 40px; height: 40px; }
@media (max-width: 480px) { .hidden-portrait-phone { display: none; } }

.widget {
  padding: 6px 18px;
  margin-bottom: 30px;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.widget .table th { background-color: #ddd; }
.widget .table td { background-color: #fff; }

/* Table sorting */
th .current {
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: right center;
}
th .asc {
  background-image: url(/assets/asc.gif);
}

th .desc {
  background-image: url(/assets/desc.gif);
}
