// Place all the styles related to the Follows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.span2 { text-align: center; white-space: nowrap; }
.span2 .widget { margin-bottom: 20px;  }
.span2 img { display: block; margin: 0 auto 0 auto; }
.span2 p { margin-bottom: 0; }
